<%- include('./components/navHeader.ejs') %>

    <div class="container">
        <h1>Home Page</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Diseases</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>